/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    font-size: 3rem;
    
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/island-hlavicka.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header hr {
    width: 100px;
    border-style: solid;
    background-color: white;
}

.autor {
    font-style: italic;
}


/* MENU */
.menu {
    list-style: none;
    padding: 0 30px;
    text-align: center;
}

.menu li {
    border-bottom: 1px solid rgb(196, 195, 195);
    text-transform: uppercase;
    font-family: 'Raleway', serif;
}

.menu a {
    display: block;
    text-decoration: none;
    color: rgb(165, 164, 164);
    padding: 5px 0;
    width: 100%;
}

.menu a:hover {
    background-color: rgb(196, 195, 195);
    color: white;
}

/* OBSAH */
section h2,
section p {
    padding: 0 20px;
}

img {
    width: 100%;
}

img+p {
    text-align: center;
    color: rgb(148, 148, 148);
}

a:link {
    color: rgb(148, 148, 148);
}

.popisek {
    font-family: 'Raleway', serif;
    font-size: 0.9rem;
}

h2::after {
    display: block;
    content: " ";
    border-bottom: 3px solid rgb(67, 161, 250);
    width: 15%;
    padding-top: 15px;
    transform: translateX(-20px);
}


/* FOTOGALERIE */




/* PATICKA */

footer {
    color: rgb(148, 148, 148);
    font-size: 0.9rem;
    background-image: linear-gradient(rgb(196, 195, 195) 0%, rgb(238, 237, 237) 20%, #fff 100%);
    padding: 30px 20px;
}

@media screen and (min-width: 500px) {

    .menu {
        display: flex;
        justify-content: center;
        margin: 30px;
        width: 90%;
    }

    .menu li {
        border-top: 1px solid rgb(196, 195, 195);
        flex-grow: 1;
        flex-basis: 25%;
    }

    .menu1,
    .menu2,
    .menu3 {
        border-right: 1px solid rgb(196, 195, 195);
    }

    .obrazek {
        position: relative;
    }

    .popisek {
        position: absolute;
        bottom: 5px;
        right: 0;
        color: white;
    }

    .popisek a {
        color: white;
    }

    .obrazek {
        margin: 30px 0;
    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
    }

    .foto {
        flex-basis: 50%;
        position: relative;
        overflow: hidden;
    }

    .foto img {
        height: 100%;
    }

    .foto:hover .fotka {
        transform: scale(1.1);
    }

    .tmavy {
        background-color: rgba(0, 0, 0, 0.63);
        width: 100%;
        margin: 0;
        position: absolute;
        bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        display: none;
    }

    .foto:hover .tmavy {
        display: block;        
    }
}

@media screen and (min-width: 1000px) {

    header {
        padding: 30px 300px 100px 300px; 
    }

    .menu {
        display: block;
        float: left;
        width: 250px;
        padding-top: 20px;
    }

    .menu li {
        border: none;
        border-bottom: 1px solid rgb(196, 195, 195);
    }

    .menu a {
        display: block;
        width: 100%;
        padding: 5px;
    }

    .menu a:hover {
        background-color: rgb(196, 195, 195);
        color: white;
    }

    .uvod {
        padding: 20px 20px 20px 300px;
    }

    .obsah {
        width: 960px;
        margin: -80px auto 0 auto;
        background-color: #fff;
        box-shadow: 0px 4px 10px grey;
    }

    section h2,
    section p {
        padding: 0 40px;
    }

    h2::after {
        transform: translateX(-40px);
    }

    .proc p {
        width: 700px;
    }

    .co_videt p,
    .co_videt h2 {
        padding-left: 200px;
    }

    .co_videt_2 p {
        padding-left: 200px;
    }

    footer {
        width: 960px;
        background-image: none;
        margin: 0 auto;
        padding-left: 0;
    }

    .foto {
        flex-basis: calc(100% / 3);
    }
    
}